/* header styles start */
/* nav style */
.body {
    background-color: #AAAAAA;
}

.top {
    display: flex;
    justify-content: space-around;

}

.nav-part1 {
    margin-right: 300px;
}

.nav-part2 {
    margin-top: 20px;
    padding-right: 15px;
}

.nav-part2>a {
    text-decoration: none;
    color: black;
}

/* nav style end */

/* header text and img style start */
.container {
    display: flex;
    justify-content: space-around;

}

.header-text {
    margin-right: 30px;
}

.headerbtn {
    text-decoration: none;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 18px;

}

/* header text and image style end */

.icons {
    background-color: red;
}

/* main section start */

/* .main {
    display: grid;
    /* grid-template-columns: repeat(2, 3fr);
} */



.see-more {
    color: rgba(224, 44, 109, 0.87);
}

/* featured product section start */

.joinbtn {
    text-decoration: none;
    color: #fff;
    background: #E02C6D;
    padding: 10px 20px;

}

/* footer part styles */

.footer {
    background-color: #0A0826;
    color: #FFFFFF;
    text-align: center;
}