/* header styles start */
/* nav style */
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #AAAAAA;

}

.top {
    display: flex;
    justify-content: space-evenly;

}

.nav-part1 {
    margin-right: 300px;
}

.nav-part2 {
    margin-top: 20px;
    padding-right: 15px;
}

.nav-part2>a {
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

/* nav style end */

/* header text and img style start */
.container {
    display: flex;
    justify-content: space-between;

}

.header-text {
    /* margin-right: 30px; */
}

.header-text>p {
    margin-bottom: 16px;
}

.headerbtn {
    text-decoration: none;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 18px;

}

/* header text and image style end */
.hrs {
    opacity: 0.1;
}

.icons {
    text-align: center;
    margin: 20px;
}

.icons>img {
    margin: 15px;
}

/* main section start */
.main {
    Width: 1047px;
    Height: 1662px;
    align-items: center;
}

.container2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

}

.main-headertxt {
    display: inline-block;
    margin: 10px 30%;
}

.collections {
    width: 329px;
    height: 476px;
}

.collection-text {
    align-items: center;


}

.collection-img>img {
    width: 300px;
    height: 256px;

}

.see-more {
    color: rgba(224, 44, 109, 0.87);
    float: right;
    padding-right: 80px;
}

/* featured product section start */
.product-section {
    margin: 300px 18px 20px 61px;
    Width: 1110px;
    Height: 270px;
}

.featured-product {
    display: flex;

}

.image-inside-featured {
    Width: 404px;
    Height: 270px;
}

.joinbtn {
    text-decoration: none;
    color: #fff;
    background: #E02C6D;
    padding: 10px 20px;

}

/* footer part styles */

.footer {
    background-color: #0A0826;
    color: #FFFFFF;
    text-align: center;
}

/* media queary for responsive */

/* for mobile device */
@media only screen and (max-width:668px) {

    .container,
    .top,
    .icons,
    .main,
    .product-section,
    .footer {
        /* background-color: red;
        flex-direction: column;
        align-items: center; */
        display: grid;
        grid-template-columns: repeat(1fr, 1fr, 1fr);
        justify-content: center;
    }
}